<h1>Test</h1>
<div>
  <h2> Test2</h2>
  <ul>
  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: list }"></ng-container>
</ul>

<ng-template #recursiveListTmpl let-list>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of list">
        <mat-expansion-panel-header>
            <mat-panel-title>
     Title = {{ item.title }} 
        </mat-panel-title>
        <mat-panel-description>          
     Description = {{ item.title }} 
        </mat-panel-description>
      </mat-expansion-panel-header>
    <ul *ngIf="item.children.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }"></ng-container>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
</ng-template>

</div>
